- place_list_tags_for(@menu_list).each do |element|
  = element unless element.kind_of? Section
  - if element.kind_of? Section
    - unless element.hidden
      - if request.path != '/' + element.full_path
        = link_to element.name, section_path(element.full_path), :class => ("muted" if not @section.nil? and @section.id == element.id)
      - else
        = element.name

