%div.comment
  %div.comment-header
    %strong
      = link_to user_avatar_and_name(comment.user).html_safe, comment.user.link
      = login_provider_in_brackets(comment.user)
    at
    = l comment.created_at, :format => :short

  %div
    =  sanitize simple_format comment.text