%br

%h1 Last comments

- if @comments.empty?
  %div No comments yet.

- @comments.each_with_index do |comment, index|
  = render 'layouts/admin/show_comment', :comment => comment, :index => index

%div#paginator
  = paginate @comments, :window => 2

= render 'layouts/admin/comment_delete_js'

