= link_to 'back', admin_items_path

%h1 Create Item

= form_for @item, :url => admin_items_path, :method => :post do |f|

  = render "layouts/admin/item_form", :f => f

  %br
  = submit_tag 'Create Item'
