%div
  %strong= comment.user
  at
  = comment.created_at

  = link_to 'delete', admin_comment_path(comment),
  :method => :delete, :remote => true, "data-type" => :json,
  :class => %w(Comment delete), :confirm => 'Are you sure?'
  %br

  %span= comment.text